<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <img
              class="img-fluid mb-3"
              src="img/services.png"
              width="35%"
              alt=""
            />
          </div>
          <h3>Services</h3>
          <p class="lead mb-0">Company service information</p>

          <ul style="list-style-type: none; margin-left: -8%">
            <li><a class="btn" href="#">IT Consulting</a></li>
            <li><a class="btn " href="#">Product Engineering</a></li>
            <li><a class="btn " href="#">Product Development</a></li>
            <li><a class="btn " href="#">Application Development</a></li>
            <li><a class="btn " href="#">QA / Testing</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <img
              class="img-fluid mb-3"
              src="img/product.png"
              width="35%"
              alt=""
            />
          </div>
          <h3>Products</h3>
          <p class="lead mb-0">Company product information</p>
        </div>
        <h4>Logistic Management System :</h4>
        <p>
          LMS will streamline the services of any company carrying freight for
          clients, or supply companies
        </p>
        <h4>Inventory Management System :</h4>
        <p>Keeping inventory costs down is crucial to competitive advantage.</p>
      </div>
    </div>
  </div>
</section>

<!-- Image Showcases -->
<section class="">
  <div class="container-fluid p-0">
    <div class="row no-gutters companyVision">
      <div
        class="col-lg-6 order-lg-2"
        
      >
    <div id="Companyimage"></div>
    </div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Company</h2>
        <p class="lead mb-0">
          Mindsoft is committed to help clients achieve success by sharing its
          technical expertise, industry knowledge and applied innovation.Mind
          power is the tool that will serve as guide on this journey to
          perfection. Strategic thinking is the road map necessary for attaining
          success. Mindsoft describes its own path by combining the expertise it
          has in wide range of areas with insight into market reality and
          trends.
        </p>
      </div>
    </div>
    <div class="row no-gutters">
        <div
        class="col-lg-6 order-lg-2"
        id="vision"
      ></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Vision</h2>
        <p class="lead mb-0">
          Mindsoft Technologies is dedicated to create simple solutions for
          complex situations with the power of imagination and implementing the
          best technologies.
        </p>
        <br />
        <p class="lead mb-0">
          The highest quality consciousness and process driven methodology
          helped to strive for excellence in all activities.All the achievements
          in the history of Mindsoft, each one as a milestone has bestowed us to
          build enduring relationships with clients, employees and prospects.
        </p>
      </div>
    </div>
  </div>
</section>
