    <!-- Navigation -->
    <nav class="navbar navbar-default" id="navCustom">
      <div class="container-fluid">
        <div class="navbar-header">
          <img class="img-fluid mb-3" src="img/title.png" width="55%" alt="">
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="btn" href="#">Home</a></li>
            <li><a class="btn " href="#">Company</a></li>
            <li><a class="btn " href="#">Services</a></li>
            <li><a class="btn " href="#">careers</a></li>
            <li><a class="btn " href="#">Contact Us</a></li>
            <li><a class="btn " href="#">Support</a></li>
        </ul>
      </div>
    </nav>
    
        <!-- Masthead -->
        <header class="masthead text-white text-center">
            <div class="overlay"></div>
            <div class="container">
              <div class="row">
                <div class="col-xl-12 mx-auto" style="margin-top: 15%; margin-bottom: 10%">
                  <h1 class="mb-5">
                    Mindsoft is a full service technology consulting company. We provide Web Development, Custom Software Development and specialized outsourced project development.
                  </h1>
                </div>
              </div>
            </div>
          </header>
      