
    <!-- Testimonials -->
    <section class="testimonials text-center bg-light" id="team">
        <div class="container">
          <h2 class="mb-5">Our Team</h2>
          <div class="row">
            <div class="col-lg-12" style="margin-bottom: 5%">
              <div class="mx-auto">
                <p class="font-weight-light">
                    Dedicated software professionals at Mindsoft understand the value of coordinated efforts in achieving group targets. The teamwork is based on unimpeded flow of knowledge across the organization.
                </p>
            
                <p class="font-weight-light">
                    The highly motivated members deliver consistently and are flexible whenever required. They are well versed in their field of activity and fine tuned with unique Mindsoft methodology and follow the best practices of industry uniformly. 
                </p>
              </div>
            </div>
            </div>
          </div>
      </section>